@font-face {
    font-family: 'vazir';
    src: url('../../fonts/Vazir.eot?#')format('eot'), url('../../fonts/Vazir.ttf')format('truetype'), url('../../fonts/Vazir.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sahel';
    src: url('../../fonts/Sahel.eot?#')format('eot'), url('../../fonts/Sahel.ttf')format('truetype'), url('../../fonts/Sahel.woff')format('woff');
}

@font-face {
    font-family: 'yekan';
    src: url('../../fonts/Yekan.eot?#')format('eot'), url('../../fonts/Yekan.ttf')format('truetype'), url('../../fonts/Yekan.woff')format('woff');
}
