
body {
    font-family: sahel;
    background-color: #f8f9fa;
    direction:rtl;
}
.title-posts-div {
}

.title-posts-div h2 {
    font-size: 14px;
}

.pagination-div {
    margin-top: 20px;
    direction: ltr;
    font-size: 14px;
}
.count-posts-h3 {
    margin:12px 0px 5px;
    font-size: 14px;
    color:#4e4e4e
}
.not-div {
    display: flex;
    height: 70vh;
}

.not-h6 {
    color: gray;
    font-size: 14px;
    margin: auto;
    text-align: center;
}